.App {
  text-align: center;
   padding: 100px;
  
}
.search-wrapper{

    
}
.action-wrapper{
    
}
.main-section{
    display: flex;
}
.form{
  width: 40%;
  border: 2px solid rgba(113, 0, 128, 0.212);
  padding: 5px;
  margin: 5px;
  height: 400px;
}
.all-posts{
  width: 60%;
  border: 2px solid rgba(128, 0, 0, 0.5);
  padding: 5px;
  margin: 5px;
  height: 400px;
  overflow-y: auto;
}

.post{
  border:2px solid rgba(0, 0, 0, 0.226);
  margin-bottom: 5px;
}

    